/* Sticky footer styles
-------------------------------------------------- */

html, body {
  max-height: 100%;
  overflow-x: hidden !important; 
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #ecf2f9;
}

.time-frame, h1 {
  min-width: 500px;
}

@media screen and (max-width: 480px) {
    h1 {
      font-size: 20px;
      margin-top: -35px;
    }

    .chart {
        height: 200px;
    }

    footer {
      height: 0px;
      visibility: hidden;
    }

    .navbar {
      visibility: visible !important;
    }

   .time-frame {
      margin-top: -40px;
    }

    #invalid {
      float: center !important;
      width: 360px;
      font-size: 15px;
      margin-top: -30px !important;
      margin-bottom: 0px !important;
    }

    .list-btn {
      visibility: hidden;
    }

    #sidebar2 ul li {
      margin-bottom: 10px !important;
    }

    .icon-margin {
      margin-top: 1px !important;
      margin-left: 0px !important;
      transition: 0.5s !important;
    }

    .delete-btn {
      text-align: center !important;
      position: absolute;
      float: right !important;
      border-radius: 20px 20px 20px 20px !important;
      right: 10px;
      margin-top: 5px !important;
      height: 25px !important;
      width: 25px !important;
    }

    #stockname {
      margin-left: 0px !important;
      width: 100% !important;
      float: center !important;
    }

    .btn-success {
      position: relative;
      float: center;
      width: 100% !important;
    }

    .btn-danger {
      position: relative;
      float: center;
      width: 100% !important;
    }

}

.navbar {
  background-color: #19324d;
  border-color: #19324d;
}

.navbar-brand {
  color: #79d2a6 !important;
}

.nav li a{
  color: #9fbfdf !important;
}

 .navbar-default .navbar-nav > .active{
    color: #000;
   background: #DB6918;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background: #DB6918 !important;
 }

 .dropdown-menu {
  background-color: #2c5887;
  border-radius: 7px;
 }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.navbar {
  visibility: hidden;
}

h1 { 
  color: #9D9DA8;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif !important; 
}

.page-header {
  border-bottom: thin solid #c6d9ec !important;
}

#wrap > .container {
  padding: 60px 15px 0;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f2f2f2;
}

.underline {
  padding-bottom: 15px;
  border-bottom: thin solid #9fbee0;
}

.sidebar-brand {
  border-bottom: thin solid #369b89;
  background-color: #369b89;
}

.overline {
  pointer-events: none;
  color: #a2efbf !important;
}

#stockname {
  margin-left: -15px;
  float: left;
  text-align: center;
  padding-top: 3px !important;
  margin-bottom: 5px;
  font-size: 17px !important;
  height: 7px;
  border: thin solid #dbdbdb !important;
  border-radius: 0px;
}

#menu-toggle {
  outline: none;
}

.btn-success {
  width: 185px;
  float: left;
  height: 30px;
  outline: none !important;
  border-radius: 0px 0px 0px 0px;
}

.btn-danger {
  width: 185px;
  float: left;
  height: 30px;
  outline: none !important;
  border-radius: 0px 0px 0px 0px;
}

.delete-btn {
  background-color: #6897c9;
  height: 30px;
  width: 40px;
  border-style: none;
  float: right;
  outline: none;
  border-radius: 20px 0px 0px 20px;
  opacity: 0.65;
  transition: 0.4s;
}

.delete-btn:hover + .stockItem{
  border-left: 3px solid #BA55D3;
  color: white;
}

.delete-btn:hover {
  opacity: 1;
}

.icon-margin {
  height: 40px;
  width: 100%;
  margin-top: -5px;
  margin-left: -5px;
  transition: 0.5s;
}

.stockItem:hover {
  border-left: 3px solid #BA55D3;
}

.stockItem {
  width: 150px;
  float: left;
  transition: 0.2s;
}

.test {
  margin-bottom: 5px;
}

.chart {
  height: 420px;
}

.list-item {
  margin-top: 20px;
}

.top {
  margin-top: 50px;
}

#invalid {
  float: left;
  margin-top: -25px;
  height: 20px;
  color: red;
  visibility: hidden;
}

.zoom-btn {
  border: 2px solid #E7E7E7;
  height: 20px;
  width: 40px;
  margin-top: 15px;
  margin-left: 10px;
  background-color: #E7E7E7;
  color: black;
  font-size: 13px;
  transition: 0.2s;
  outline: none;
}

.zoom-btn:hover {
  background-color: #f2f2f2; 
}